.tournament-calendar {
  .rs-input-group {
    border-radius: 30px;
    border: 3px solid var(--background-color);
    height: 36px;
    width: 276px;
    input {
      border-radius: 30px;;
    }
  }
}
